{%  extends 'base.html' %}

{% block dashboard-body %}
{% load staticfiles %}
<a style="float:right;margin-right:10px;width:50px;font-size:large;" href="{% url 'add_Item' %}" class="btn btn-warning btn-sm" role="button">+</a>

     <center><h2 style="margin-left: 50px;">Inventory Management</h2>

     <br><div class="button-group">
    <a href="{% url 'display_Necklaces' %}" class="btn btn-primary btn-md" role="button">Necklaces</a>


    <a href="{% url 'display_Ring' %}" class="btn btn-primary btn-md" role="button">Ring</a>


    <a href="{% url 'display_Pendants' %}" class="btn btn-primary btn-md" role="button">Pendants</a>


    <a href="{% url 'display_Earrings' %}" class="btn btn-primary btn-md" role="button">Earrings</a>

    {% if header != "Necklaces" and header != "Earrings" and header != "Pendants" and header != "Rings"%}

   <center><div>
    <br><img style="width: 940px; height: 400px;" alt="Image description" src="{% static 'images/image.png' %}"/>
   </div></center>

   <br><a href="#" class="btn btn-lg btn-block btn-success" role="button">Re Order Items</a>
   <a href="#" class="btn  btn-success btn-lg btn-block" role="button" style="background: #7ac514;border: none">Raw Materials</a>

       {% endif %}

</div></center>


{% if header == "Necklaces" or header == "Earrings" or header == "Pendants" or header == "Rings"%}
{% if header == "Rings" %}
<br><center> <h4>Currently Viewing {{ header }}</h4></center>
<div class="card-body">
    <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        {% for item in items %}
    {% if item.category == "RI" %}
     <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.charges }}</td>
            <td>{{ item.stoneType }}</td>
            <td>{{ item.NoOfStones }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.craftsman_id}}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.issues }}</td>
            <td><img style="width: 100px; height: 100px;" alt="Image description" src="{{ item.image.url }}"/></td>
            <td>
                <a style="margin: 10px 0 10px 0;width: 55px" href="{% url 'edit_items' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_items' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > delete</a>
            </td>
        </tr>
    {% endif %}

            {% endfor %}
    </tbody>
</table>

    </div>
</div>
{% endif %}
{% if header == "Necklaces" %}
<br><center> <h4>Currently Viewing {{ header }}</h4></center>
<div class="card-body">
    <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        {% for item in items %}
    {% if item.category == "NE" %}
     <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.charges }}</td>
            <td>{{ item.stoneType }}</td>
            <td>{{ item.NoOfStones }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.craftsman_id}}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.issues }}</td>
            <td><img style="width: 100px; height: 100px;" alt="Image description" src="{{ item.image.url }}"/></td>
            <td>
                <a style="margin: 10px 0 10px 0;width: 55px" href="{% url 'edit_items' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_items' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > delete</a>
            </td>
        </tr>
    {% endif %}

            {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% endif %}
{% if header == "Earrings" %}
<br><center> <h4>Currently Viewing {{ header }}</h4></center>
<div class="card-body">
    <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        {% for item in items %}
    {% if item.category == "ER" %}
     <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.charges }}</td>
            <td>{{ item.stoneType }}</td>
            <td>{{ item.NoOfStones }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.craftsman_id}}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.issues }}</td>
            <td><img style="width: 100px; height: 100px;" alt="Image description" src="{{ item.image.url }}"/></td>
            <td>
                <a style="margin: 10px 0 10px 0;width: 55px" href="{% url 'edit_items' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_items' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > delete</a>
            </td>
        </tr>
    {% endif %}

            {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% endif %}
{% if header == "Pendants" %}
<br><center> <h4>Currently Viewing {{ header }}</h4></center>
<div class="card-body">
    <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th>charges (Rs)</th>
            <th>stoneType</th>
            <th>NoOfStones</th>
            <th>weight</th>
            <th>quantity</th>
            <th>craftsman_id</th>
            <th>Status</th>
            <th>Issues</th>
            <th>Image</th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        {% for item in items %}
    {% if item.category == "PE" %}
     <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.charges }}</td>
            <td>{{ item.stoneType }}</td>
            <td>{{ item.NoOfStones }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.craftsman_id}}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.issues }}</td>
            <td><img style="width: 100px; height: 100px;" alt="Image description" src="{{ item.image.url }}"/></td>
            <td>
                <a style="margin: 10px 0 10px 0;width: 55px" href="{% url 'edit_items' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_items' item.pk %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > delete</a>
            </td>
        </tr>
    {% endif %}

            {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}