{% extends 'base.html' %}

{% block dashboard-body %}
{% load staticfiles %}
<div class="rawBody" style="background-image: url('{% static "images/back2.jpg"%}')">
<center><br>
    <div class="Rpolaroid">
  <a href="{% url 'gold' %}"><img style="width:100%" alt="Image description" src="{% static 'images/gold.jpg' %}"/></a>
  <div class="TitleRaw">
    <h5 style="font-weight: bolder;-webkit-text-stroke: 0.2px black;letter-spacing: 1px;">GOLD Details</h5>
  </div>
</div>
<br>
    <div class="Rpolaroid">
  <a href="{% url 'stone' %}"><img style="width:100%;height: 200px;" alt="Image description" src="{% static 'images/gem.jpg' %}"/></a>
  <div class="TitleRaw">
    <h5 style="font-weight: bolder;-webkit-text-stroke: 0.2px black;letter-spacing: 1px;">STONES Details</h5>
  </div>
</div>
<!--<div class='container-fluid bg-grey'>-->
    <!--<a href="{% url 'gold' %}"><img style="width: 25%; height: 25%;" alt="Image description" src="{% static 'images/gold.jpg' %}"/></a>-->
    <!--<h4>GOLD Details</h4><br>-->
    <!--<img  style="width: 25%; height: 25%;" alt="Image description" src="{% static 'images/stone.jpg' %}"/>-->
    <!--<h4>STONES Details</h4></div>-->
</center>
    </div>
{% endblock %}