{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<div class='container'>
    <div class="container main content main-wrapper" style="margin-top: 150px">
<img style="width: 100%; height: 100%;" alt="Image description" src="{% static 'images/about1.jpg'%}"/>

    <h1 class="center">About Us</h1>
    <div class="feature_divider"></div>
<div class="contact_form contact-template_contact_form contact_text_position--center contact_text_alignment--center">
<div class="
      eight  columns contact_content">
      Majjestic Jeweler was started in 1995 by Mr. Wijji Ratnayake, as a pioneer manufacturer of fashion jewellery in Sri Lanka.
    Each and every item carrying the brand name was passionately crafted using precious and semi-precious gem stone and presented
    in an attractive fashion. With these uniqueness of fashion, Majjestic Jeweler was able to get more customer attraction. It was a novelty and
    Sri Lanka was moved. Exquisite jade, coral, tiger-eye, hematite, blue sapphire, ruby creations in unique designs became the hot favorite. As the
    brand grew in popularity, so did the variety of designs. Yet, one thing remained constant. The Majjestic Jeweler hallmark of quality. Offering timeless
    creations and setting trends in fashion, the brand Majjestic Jeweler ventured beyond Sri Lankan shores, to markets overseas. Today Majjestic Jeweler has
    an impressive global presence. Unlike any other jewellers we do not force the customer to shop and carry whatever we have in store. In addition to our
    custom-made jewelry we help to re-invent the customers’ choice by using our design skills to preserve unique but modern designs to generate eye catching
    jewelry.
    </div>
</div>
</div>
</div>
</div>
{%endblock%}

{% block title%}Checkout {% endblock %}