{% extends "base1.html"%}

{%block page_body%}

    <h1 class="center">Contact Us</h1>
    <div class="feature_divider"></div>


  <div class="contact_form contact-template_contact_form contact_text_position--center contact_text_alignment--center">
    <div class="
      eight  columns contact_content">
      <p>Questions? Shoot us a note! We'd love to hear from you.</p>
<p>Call us - 94-11-2595787 , 94-11-2595959</p>
<meta charset="utf-8">
<p><span>support@majjesticjewelry.com</span></p>
<p><span>Shop 2-18, Level 2</span></p>
<p><span>Majjestic City</span></p>
<p><span>Colombo 4.</span></p>
    </div>
    <div class="eight columns">
      <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />


         <div class="four columns alpha">

          <label for="contactFormName">Name <span class="red">*</span></label>
          <input type="text" id="contactFormName" name="contact[contact-form-name]" placeholder="Name" autocapitalize="words" value="" required="required">
         </div>
         <div class="four columns omega">
          <label for="contactFormEmail">Email <span class="red">*</span></label>
          <input type="email" id="contactFormEmail" name="contact[email]" placeholder="Email" autocorrect="off" autocapitalize="off" value="" required="required">
         </div>


        <label for="contactFormMessage">Message <span class="red">*</span></label>
        <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="Message" required="required"></textarea>

        <input type="submit" class="submit action_button" value="Send" />
      </form>
    </div>
  </div>


<style>

    #slide-contact .hsContainer {
      height: 400px;
    }

    @media only screen and (max-width: 767px) {
      #slide-contact .hsContainer {
        height: auto;
      }
    }


</style>
    <!--------------------------------------------------------------------------------------------------------->

{% endblock %}