<a href="#emailModal" data-target="#emailModal" data-toggle="modal" data-email="34">click</a>



<div class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="text" class="form-control" id="email">
        </div>
    </div>
</div>

<script>
    $('#emailModal').on('show.bs.modal', function (event) {
        var email = $(event.relatedTarget).data('email');
        $(event.currentTarget).find("modal-content input #email").val(email);
})
</script>