{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<style>
    table tr th{
        text-align: center;
    }
</style>

<div class="container main content main-wrapper" style="padding-top: 160px">
    <div class="container">
        <form class="form" method="POST" action='{% url "admin_view_orders" %}'>{% csrf_token %}
            <button type="submit" style="background-color: green; border-radius: 7%; color: white"><- Get Order History in Admin Dashboard</button>
        </form>
        <form style="float: right" class="form" method="POST" action='{% url "cart_list_view" %}'>{% csrf_token %}
            <button type="submit" style="background-color: blue; border-radius: 7%; color: white">Get Cart History in Site Page -></button>
        </form>
        <input type="text" name="search" id="search1" class="form-control form-control-sm" placeholder="Search">
        <div id="order" class="card border-0 shadow my-5">
            <h4>Order History</h4>
            {% if order_list %}
            <table id="order_table" class="" style="width:100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Billing profile:</th>
                    <th>Delivering address:</th>
                    <th>Billing address:</th>
                    <th>Cart:</th>
                    <th>Products</th>
                    <th>Delivering total</th>
                    <th>Total</th>
                    <th>States</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                {% for order in order_list %}
                <tr style="color: darkblue; font-weight: bold; font-style: italic;">
                    <th>{{ forloop.counter}}</th>
                    <th>{{ order.order_id}}</th>
                    <th>{{ order.billing_profile}}</th>
                    <th>{{ order.delivering_address}}</th>
                    <th>{{ order.billing_address.get_address }}</th>
                    <th>{{ order.cart }}</th>
                    <th>
                        {% for jewelry in order.cart.jewelries.all %}
                        Item Code : {{jewelry.slug}}
                        </br>Item price : Rs {{jewelry.net_price}}/=
                        </br><a href='{{ jewelry.get_absolute_url }}'><img src='{{jewelry.image.url}}' class="img-thumbnail" style="max-height: 150px; max-width: 150px;" /></a>
                        </br>{% if not forloop.last %}
                        <br>{% endif %}
                        {% endfor %}
                    </th>
                    <th>{{ order.delivering_total}}</th>
                    <th>{{ order.total}}</th>
                    {% if order.status == 'paid' %}
                    <th style="color: red">{{ order.status}}</th>
                    {% else %}
                    <th style="color: green">{{ order.status}}</th>
                    {% endif %}
                    <th style="color: purple">{{ order.timestamp}}</th>
                </tr>
                {% endfor %}
                </tbody>

            </table>
            {% else %}
            <p>You haven't placed any orders yet.</p>
            {% endif %}
            <p>
                <input type="button" value="Create PDF"
                       id="btPrint" onclick="createPDF()"/>
            </p>
        </div>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('#search1').keyup(function () {
            search_table($(this).val());
        });

        function search_table(value) {
            $('#order_table tr').each(function () {
                var found = false;
                $(this).each(function () {
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
                        found = true;
                    }
                });
                if(found == true){
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }
    })
</script>
<script>
    function createPDF() {
        var sTable = document.getElementById('order_table').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table tr th{border: solid 1px #DDD;";
        style = style + "padding: 2px 3px; text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Order History</title>');   // <title> FOR PDF HEADER.
        win.document.write('<style>');          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write("table tr th{text-align: center; border: solid 1px black;}");
        win.document.write('</style>');          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.

    }

</script>

{%endblock%}

{% block title%}order lists {% endblock %}