{%  extends 'base.html' %}

{% block dashboard-body %}
{% load staticfiles %}
<style>
    table tr th{
        text-align: center;
    }
</style>
<div class="inventoryBody" style="background-color: gainsboro;">
    <br>
    <form class="form" method="POST" action='{% url "order_list_view" %}'>{% csrf_token %}
        <button type="submit" style="background-color: green; border-radius: 7%; color: white">Get Order History in Site Page</button>
    </form>
    <div class="invBody"><center>
        <div class="slideInLeft">
            <h2 style="margin-left: 50px;" >Order History</h2>
        </div>
        <br></center>

        {% if order_list %}
        <div class="card-body">
            <input type="text" name="search" id="search2" class="form-control form-control-sm" placeholder="Search">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableOrder" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Order ID</th>
                        <th>Billing profile:</th>
                        <th>Delivering address:</th>
                        <th>Billing address:</th>
                        <th>Products</th>
                        <th>Delivering total</th>
                        <th>Total</th>
                        <th>States</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot style="background-color: black; color: seagreen">
                    <tr>
                        <th>#</th>
                        <th>Order ID</th>
                        <th>Billing profile:</th>
                        <th>Delivering address:</th>
                        <th>Billing address:</th>
                        <th>Products</th>
                        <th>Delivering total</th>
                        <th>Total</th>
                        <th>States</th>
                        <th></th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for order in order_list %}
                    <tr style="color: black">
                        <th>{{ forloop.counter}}</th>
                        <th>{{ order.order_id}}</th>
                        <th>{{ order.billing_profile}}</th>
                        <th>{{ order.delivering_address}}</th>
                        <th>{{ order.billing_address.get_address }}</th>
                        <th>
                            {% for jewelry in order.cart.jewelries.all %}
                            </br>Item Code : {{jewelry.slug}}
                            </br>Item price : Rs {{jewelry.net_price}}/=
                            </br><img src='{{jewelry.image.url}}' class="img-thumbnail" style="max-height: 200px; max-width: 200px;" />
                            </br>{% if not forloop.last %}
                            <br>{% endif %}
                            {% endfor %}
                        </th>
                        <th>{{ order.delivering_total}}</th>
                        <th>{{ order.total}}</th>
                        <th>{{ order.status}}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#search2').keyup(function () {
            search_table($(this).val());
        });

        function search_table(value) {
            $('#dataTableOrder tr').each(function () {
                var found = false;
                $(this).each(function () {
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
                        found = true;
                    }
                });
                if(found == true){
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }
    })
</script>
{% endblock %}

