{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<div class='container'>
    <div class="container main content main-wrapper" style="margin-top: 150px">


        <!--{{ object.order_id }}&#45;&#45;{{ object.cart }}-->
        <!--{{object.delivering_address}}-->

        {% if not billing_profile %}
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <p class="lead">Login</p>
                {% include 'accounts/snippets/form_login.html' with form=login_form next_url=request.build_absolute_uri %}
            </div>
            <div class="col-12 col-md-6">
                Continue as guest
                {% url "guest_register" as guest_register_url %}
                {% include 'accounts/snippets/form_login.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}

            </div>
        </div>

        {% else %}

            {% if not object.delivering_address %}
            <div class="row">
                <div class="col-md-6 mx-auto col-10">
                    <p class="lead">Delivering address</p>
                    <hr/>
                    {% url "checkout_delivery_address_create" as checkout_delivery_address_create %}
                    {% include 'delivery/test-add-delivery-form.html' with form=delivery_address_form next_url=request.build_absolute_uri action_url=checkout_delivery_address_create address_type='delivering'%}
                    <form class="form" method="POST" action="">{% csrf_token %}
                        <button type="submit" style="background-color: green; border-radius: 7%">I don't want to deliver</button>
                    </form>
                </div>
            </div>

            {% elif not object.billing_address %}
            <div class="row">
                <div class="col-md-6 mx-auto col-10">
                    <p class="lead">Billing address</p>
                    <hr/>
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing'%}
                </div>
            </div>
            {% else %}
            <h1 style="font-style: normal; font-weight: bold; font-family: 'Arial Black'">Finalize Checkout</h1>
            <div style="border: 2px solid; box-shadow: 5px 10px 18px red; text-align: center">
                {% for jewelry in object.cart.jewelries.all %}</br>Item Code : {{jewelry.slug}}</br>
                Item price : Rs {{jewelry.net_price}}/=</br><a href='{{ jewelry.get_absolute_url }}'>
                <img src='{{jewelry.image.url}}' class="img-thumbnail" style="max-height: 200px; max-width: 200px;" /></a>
                </br>{% if not forloop.last %}<br>{% endif %}{% endfor %}
                <p>Billing address : {{ object.billing_address.get_address }}</p>
                <p>Delivering address : {% if object.delivering_address %}{{ object.delivering_address }}{% else %}No delivering{% endif %}</p>
                <p>Cart total : {{ object.cart.total }}</p>
                <p>Delivering total : {{ object.delivering_total }}</p>
                <p>Order total : {{ object.total }}</p>
                <form class="form" method="POST" action="">{% csrf_token %}
                    <button type="submit" style="background-color: green; border-radius: 7%">Checkout</button>
                </form>
            </div>
            {% endif %}
        {% endif %}



    </div>
</div>
{%endblock%}

{% block title%}Checkout {% endblock %}