{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<div class='container'>
<div class="container main content main-wrapper" style="margin-top: 150px">
    <div class='row' style="display: flex;margin-left: 10%">
        {% for obj in qs %}
        <div class='col' style="display: flex">
            {{ forloop.counter}}
            {% include 'snippets/card.html' with instance=obj %}
            {% if forloop.counter|divisibleby:3 %}
        </div></div> <div class='row' style="display: flex;;margin-left: 10%"><div class="col-12" style="display: flex;"><hr/></div>

    {% else %}
</div>
    {% endif %}
    {% endfor %}
</div>

{%endblock%}

{% block title%}Products {% endblock %}