{% extends "base1.html"%}

{%block page_body%}
{%load static%}
<div style="background-size: cover;background-image: url('{% static "images/pr2.jpeg"%}')">
<center><br><br><br><br><br><br><br>
    <!--<img style="width: 800px; height: 500px;" alt="Image description" src="{% static 'images/product_page.jpg'%}"/>-->
</center>
<br/>
<br/>
<div class='container'>
    <div class='row' style="display: flex;margin-left: 10%">
        {% for obj in qs %}
        <div class='col' style="display: flex">
            {{ forloop.counter}}
            {% include 'snippets/card.html' with instance=obj %}
            {% if forloop.counter|divisibleby:3 %}
        </div></div> <div class='row' style="display: flex;;margin-left: 10%"><div class="col-12" style="display: flex;"><hr/></div>
    {% else %}
</div>
    {% endif %}
    {% endfor %}
</div>
</div>
{%endblock%}

{% block title%}Products {% endblock %}