{% extends "home_base.html"%}

{%block page_body%}
{%load static%}

<center>
    <img style="width: 1000px; height: 500px;" alt="Image description" src="{% static 'images/product_page_cover.jpg'%}"/>
</center>

{{qs}}

{% for obj in qs %}

<!--{{obj.Order_No}}<br/>-->
<!--{{obj.Item_Code}}<br/>-->
<!--{{obj.Description}}<br/>-->
<!--{{obj.Weight}}<br/>-->
<!--{{obj.Receiver_Name}}<br/>-->
<!--{{obj.Receiver_Add}}<br/>-->

{{ obj.category }}</br>
{{ obj.date }}</br>
{{ obj.description }}</br>
{{ obj.charges }}</br>
{{ obj.stones }}</br>
{{ obj.weight }}</br>
{{ obj.craft_id }}</br>
{{obj.image}}</br>
<img style="width: 100px; height: 100px;" alt="Image description" src="{{ obj.image.url }}"/>

<!--category = models.CharField(max_length=100, choices=catChoice ,blank=False )#category-->
    <!--date = models.DateField(default=datetime.now, blank=True)-->
    <!--description = models.CharField(max_length=500, blank=False)-->
    <!--charges = models.IntegerField()-->
    <!--stones = models.IntegerField()-->
    <!--weight = models.IntegerField()-->
    <!--qty = models.IntegerField()-->
    <!--craft_id = models.IntegerField()-->

{% endfor %}

{%endblock%}