{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<div class='container'>
    <div class="container main content main-wrapper" style="margin-top: 150px">
        <div class='container-fluid bg-grey'>

            <div class="col-12 col-md-6" style="float: right">
                {% if object.quantity == 0 %}
                <h6 style="font-weight: bold;  color: red; font-style: normal">Not Available</h6>
                {% else %}
                <h6 style="font-weight: bold;  color: blue; font-style: normal">{{object.status}}</h6>
                {% endif %}
                {% if object.quantity > 0 %}
                {% include 'cart/update-cart.html' with product=object cart=cart %}
                {% endif %}
            </div>
            <img src="{{object.image.url}}" class="img-thumbnail" style="padding-left: 150px; max-height: 300px; max-width: 300px; margin-left: auto; margin-right: auto; display: block"  alt="Image detail view">
            <div class="col-100" style="margin-bottom: 200px; margin-top: 10px">
                <table style="width: 40%; margin: auto">
                    <tr>
                        <th>Category</th>
                        <th>: {{object.category}}</th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <th>: {{object.description}}</th>
                    </tr>
                    <tr>
                        <th>Price(SLR)</th>
                        <th>: {{object.net_price}}</th>
                    </tr>
                    <tr>
                        <th>Stone Type</th>
                        <th>: {{object.stoneType}}</th>
                    </tr>
                    <tr>
                        <th>Number Stones</th>
                        <th>: {{object.NoOfStones}}</th>
                    </tr>
                    <tr>
                        <th>Weight(g)</th>
                        <th>: {{object.weight}}</th>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <th>: {{object.quantity}}</th>
                    </tr>


                </table>



            </div>

        </div>

    </div>
    {%endblock%}

    {% block title%}Products_details {% endblock %}