<div class="card" style="width: 20rem; ">

    {% if instance.image %}

<img src="{{instance.image.url}}" class="card-img-top"  style="max-height: 250px;max-width: 250px;" alt="Card Image Cap">

    {% endif %}

  <div class="card-body" >

    <h5 class="card-title">Category : {{instance.category}}</h5>

    <p class="card-text">Description : {{instance.description}}</p>

    <p class="card-text">Qty : {{instance.quantity}}</p>

    <p class="card-text">Status : {{instance.status}}</p>


    <a href='{{instance.get_absolute_url}}' class="btn btn-info" style="color: #fff;background: #0f6674;padding: 10px;border-radius: 10px;">View</a>

  </div>

</div>