<div class="card" style="width: 17rem; border: 1px solid goldenrod; box-shadow: 2px 2px 2px goldenrod; text-align: center; border-radius: 7%">

    {% if instance.image %}

<img src="{{instance.image.url}}" class="card-img-top"  style="max-height: 250px;max-width: 250px; " alt="Card Image Cap">

    {% endif %}

  <div class="card-body">

    <h5 class="card-text">{{instance.category}}</h5>

    <p class="card-text">Description : {{instance.description}}</p>

    <p class="card-text">Qty : {{instance.quantity}}</p>

    <p class="card-text" style="color: blue; font-weight: bold">{{instance.status}}</p>


    <a href='{{instance.get_absolute_url}}' class="btn btn-info" style="color: #fff;background: #0f6674;padding: 10px;border-radius: 10px;">View</a>

  </div>

</div>