{%  extends 'base1.html' %}


{%block page_body%}
{%load static%}
<div class="container main content main-wrapper">
    <div class="eight columns">
        <div class="card mb-3" style="align-content: center;">
            <div class="card-header">
                <br><br><br><br><br><br>
                <i class="fas fa-table"></i><center><h1>Delivery Request</h1></center></div>
            <div class="feature_divider"></div>

            <form method="POST">

                {% csrf_token %}
                <br>
                {% for field in form %}
                <div class = "form-group row">
                    <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
                    <div class="col-10">{{ field }}</div>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary" name="'button">SUBMIT</button>

            </form>


        </div>
    </div>
</div>
</div>

{% endblock %}
{% block title%}Contact {% endblock %}