{% extends "base1.html"%}

{%block page_body%}
<br><br><br><br><br>
<div class="container main content main-wrapper">
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Delivery History</h1>

      {% for item in qs1 %}

        <p class="lead mb-0">Order Number : {{ item.Order_No }}</p>
        <p class="lead mb-0">Receiver's Name : {{ item.Receiver_Name }}</p>
        <p class="lead mb-0">Receiver's Address : {{ item.Receiver_Add }}</p>
        <p class="lead mb-0">Receiver's Phone Number : {{ item.Telephone_No }}</p>
        <p class="lead mb-0">Ordered date : {{ item.Order_date }}</p>
        <p class="lead mb-0">Deliver date : {{ item.Deliver_date }}</p>
        <a style="padding: 40px" href="{% url 'edit_deliveryhistory' item.pk %}" class="btn btn-warning btn-sm" role="button">Edit</a>
        <a href="{% url 'delete_delivery' item.pk %}" class="btn btn-danger btn-sm" role="button">Delete</a>
      <br>
      <p>------------------------------------------------------------------------</p>
      <br>
      <br>

      {% endfor %}

    </div>
  </div>
</div>
</div>

{% endblock %}