{%  extends 'base.html' %}

{% block dashboard-body %}
<center><h2 >HR Management</h2><br>
<table class="table table-hover">

    <a href="{% url 'add_Staff' %}" class="btn btn-primary btn-md" role="button">add</a>

    <thead>
        <tr>
             <th>Emp_ID</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Email</th>
            <th>Phone_Number</th>
            <th>Admission_date</th>
            <th>Job_title</th>
            <th>Job_level</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for details in details %}
        <tr>
            <td>{{ details.pk }}</td>
            <td>{{ details.First_Name}}</td>
            <td>{{ details.Last_Name }}</td>
            <td>{{ details.Email }}</td>
            <td>{{ details.Phone_Number }}</td>
            <td>{{ details.Admission_date }}</td>
            <td>{{ details.Job_title }}</td>
            <td>{{ details.Job_level}}</td>
            <td><a href="{% url 'edit_staff' details.pk %}" class="btn btn-warning btn-sm" role="button">Edit</a> </td>
            <td><a href="{% url 'delete_staff' details.pk %}" class="btn btn-danger btn-sm" role="button">Delete</a> </td>

        </tr>
            {% endfor %}
    </tbody>


</table>

{% endblock %}