{% extends "base1.html"%}

{%block page_body%}
<div class="container main content main-wrapper">
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Delete Profile</h1>
        <p> Your all details will be destroyed after delete. Are you sure to continue... </p>
        <form method="post">{% csrf_token %}
            {{form}}
        <input type="submit" value="Delete"> <button type="button">Cancel</button>
        </form>

    </div>
  </div>
</div>
</div>

{% endblock %}