{% extends "base1.html"%}

{%block page_body%}
<div class="container main content main-wrapper">
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">User Profile Settings</h1>

        <form method="post">{% csrf_token %}
            {{form}}
            <input type="submit" value="Change Details">
        </form>


        <!--<img src="{{ picture }}" width="250px">-->
      <!--<p class="lead mb-0">Name : {{ username}}</p>-->
        <!--<p class="lead mb-0">E-mail : {{ email }}</p>-->
        <!--<p class="lead mb-0">Address : {{ address }}</p>-->
        <!--<p class="lead mb-0">Mobile : {{ tel }}</p>-->

    </div>

  </div>
    <br> <br>
    <div class="card border-2">
        <a href="\user\delete"><button class="button">Delete This Account</button></a>

    </div>
</div>
</div>

{% endblock %}