{% extends "home_base.html"%}

{%block page_body%}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">User Profile</h1>
        <img src="{{ picture }}" width="250px">
      <p class="lead mb-0">Name : {{ username}}</p>
        <p class="lead mb-0">E-mail : {{ email }}</p>
        <p class="lead mb-0">Address : {{ address }}</p>
        <p class="lead mb-0">Mobile : {{ tel }}</p>

    </div>
  </div>
</div>

{% endblock %}