{% extends "base1.html"%}

{%block page_body%}
<div class="container main content main-wrapper" style="padding-top: 160px">
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">User Profile Settings</h1>
        <br>
        <br>
        <h2 class="font-weight-light">Edit Profile Details</h2>


        <form method="post">{% csrf_token %}
            {{editform}}
            <input type="submit" value="Change Details" name="editform">
        </form>

        <br>
        <br>
      <h2 class="font-weight-light">Change password</h2><br>
      <a href="/accounts/password/change/">
        <button data-url="/accounts/password/change/">change</button></a>
        <br>
        <br>
        <h2 class="font-weight-light">Delete Profile</h2>
        <p class=""> Your all details will be destroyed after delete. Are you sure to continue... </p>
        <form method="post">{% csrf_token %}
            {{deleteform}}
            {{ error }}<br>

        <input type="submit" value="Delete" name="deleteform"> <button type="button">Cancel</button>
        </form>


        <!--<img src="{{ picture }}" width="250px">-->
      <!--<p class="lead mb-0">Name : {{ username}}</p>-->
        <!--<p class="lead mb-0">E-mail : {{ email }}</p>-->
        <!--<p class="lead mb-0">Address : {{ address }}</p>-->
        <!--<p class="lead mb-0">Mobile : {{ tel }}</p>-->

    </div>

  </div>

</div>
</div>

{% endblock %}