{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<style>
    table tr th{
        text-align: center;
    }
</style>

<div class="container main content main-wrapper" style="padding-top: 160px">
    <div class="container">
        <div style="width: 100%; box-sizing: border-box;">
            <form style="float: left" class="form" method="POST" action='{% url "admin_view_orders" %}'>{% csrf_token %}
                <button type="submit" style="background-color: green; border-radius: 7%; color: white"><- Get Order History in Admin Dashboard</button>
            </form>
            <form style="float: right" class="form" method="POST" action='{% url "order_list_view" %}'>{% csrf_token %}
                <button type="submit" style="background-color: green; border-radius: 7%; color: white">Get Order History in Site Page -></button>
            </form>
        </div>
        <input type="text" name="search" id="search1" class="form-control form-control-sm" placeholder="Search">
        <div id="order" class="card border-0 shadow my-5">
            <h4>Cart History</h4>
            {% if cart_list %}
            <table id="cart_table" class="" style="width:100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Cart ID</th>
                    <th>User:</th>
                    <th>Products</th>
                    <th>Sub total</th>
                    <th>Total</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in cart_list %}
                <tr style="color: darkblue; font-weight: bold; font-style: italic;">
                    <th>{{ forloop.counter}}</th>
                    <th>{{ cart.id}}</th>
                    <th>{{ cart.user}}</th>
                    <th>
                        {% for jewelry in cart.jewelries.all %}
                        Item Code : {{jewelry.slug}}
                        </br>Item price : Rs {{jewelry.net_price}}/=
                        </br><a href='{{ jewelry.get_absolute_url }}'><img src='{{jewelry.image.url}}' class="img-thumbnail" style="max-height: 150px; max-width: 150px;" /></a>
                        </br>{% if not forloop.last %}
                        <br>{% endif %}
                        {% endfor %}
                    </th>
                    <th>{{ cart.subtotal}}</th>
                    <th>{{ cart.total}}</th>
                    <th style="color: purple">{{ cart.timestamp}}</th>
                    <th style="color: purple">{{ cart.updated}}</th>
                </tr>
                {% endfor %}
                </tbody>

            </table>
            {% else %}
            <p>There aren't any carts created yet.</p>
            {% endif %}
            <p>
                <input type="button" value="Create PDF"
                       id="btPrint" onclick="createPDF()"/>
            </p>
            <a class="btn btn-info" role="button" href="{% url 'export_cart_csv' %}">Export Cart Info (csv)</a>
        </div>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('#search1').keyup(function () {
            search_table($(this).val());
        });

        function search_table(value) {
            $('#cart_table tr').each(function () {
                var found = false;
                $(this).each(function () {
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
                        found = true;
                    }
                });
                if(found == true){
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }
    })
</script>
<script>
    function createPDF() {
        var sTable = document.getElementById('cart_table').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table tr th{border: solid 1px #DDD;";
        style = style + "padding: 2px 3px; text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=1000,width=1000');

        win.document.write('<html><head>');
        win.document.write('<title>Cart History</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.

    }

</script>


{%endblock%}

{% block title%}order lists {% endblock %}