{% extends "base1.html"%}

{%block page_body%}
{%load static%}

<style>
    table tr th{
        text-align: center;
    }
</style>

<div class="container main content main-wrapper" style="padding-top: 160px">
    <div class="container">
        <div style="width: 100%; box-sizing: border-box;">
            <form style="float: left" class="form" method="POST" action='{% url "admin_view_orders" %}'>{% csrf_token %}
                <button type="submit" style="background-color: green; border-radius: 7%; color: white"><- Get Order History in Admin Dashboard</button>
            </form>
            <form style="float: right" class="form" method="POST" action='{% url "order_list_view" %}'>{% csrf_token %}
                <button type="submit" style="background-color: green; border-radius: 7%; color: white">Get Order History in Site Page -></button>
            </form>
        </div>
        <input type="text" name="search" id="search1" class="form-control form-control-sm" placeholder="Search">
        <div id="cart_view" class="card border-0 shadow my-5">
            <h4>Cart History</h4>
            {% if cart_list %}
            <table id="cart_table" class="" style="width:100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Cart ID</th>
                    <th>User:</th>
                    <th>Products</th>
                    <th>Sub total</th>
                    <th>Total</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in cart_list %}
                <tr style="color: darkblue; font-weight: bold; font-style: italic; border: 1px solid dimgrey">
                    <th>{{ forloop.counter}}</th>
                    <th>{{ cart.id}}</th>
                    <th>{{ cart.user}}</th>
                    <th>
                        {% for jewelry in cart.jewelries.all %}
                        Item Code : {{jewelry.slug}}
                        </br>Item price : Rs {{jewelry.net_price}}/=
                        </br><a href='{{ jewelry.get_absolute_url }}'><img src='{{jewelry.image.url}}' class="img-thumbnail" style="max-height: 150px; max-width: 150px;" /></a>
                        </br>{% if not forloop.last %}
                        <br>{% endif %}
                        {% endfor %}
                    </th>
                    <th>{{ cart.subtotal}}</th>
                    <th>{{ cart.total}}</th>
                    <th style="color: purple">{{ cart.timestamp}}</th>
                    <th style="color: purple">{{ cart.updated}}</th>
                </tr>
                {% endfor %}
                </tbody>

            </table>
            {% else %}
            <p>There aren't any carts created yet.</p>
            {% endif %}

            <a class="btn btn-info" role="button" href="{% url 'export_cart_csv' %}">Export Cart Info (csv)</a>
        </div>
            <p>
               <button type="submit" style="background-color: mediumvioletred; border-radius: 7%; margin-left: 45%" onclick="PrintElem('cart_view')">Create PDF</button>
            </p>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#search1').keyup(function () {
            search_table($(this).val());
        });

        function search_table(value) {
            $('#cart_table tr').each(function () {
                var found = false;
                $(this).each(function () {
                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0){
                        found = true;
                    }
                });
                if(found == true){
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }
    })
</script>
<script>
    function PrintElem(cart_view)
    {
        var mywindow = window.open('', 'PRINT', 'height=700,width=700');

        mywindow.document.write('<html><head><title>' + document.title  + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('');
        mywindow.document.write('<h1 style="margin-left: 35%; color: gold">Majjestic Jeweler</h1>');
        mywindow.document.write(document.getElementById(cart_view).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>


{%endblock%}

{% block title%}order lists {% endblock %}