<form class="form-product-ajax" method="POST" action='{% url "update" %}' data-endpoint='{% url "update" %}' class="form">{% csrf_token %}
    <input type="hidden" name="product_id" value='{{product.id}}' />

    {% if in_cart %}
    <button type="submit" class='btn btn-link btn-sm' style="padding: 0px; cursor: pointer;background-color: firebrick; border-radius: 10%">Remove?</button>

    {% else %}
    <span class="submit-span">
        {% if product in cart.jewelries.all %}
        In cart <button type="submit" class='btn btn-link' style="background-color: darkred;  border-radius: 10%">Remove?</button>
        {% else %}
        <button type="submit" class='btn btn-success' style="background-color: green; border-radius: 10%">Add to cart</button>
        {% endif %}
    </span>
    {% endif%}
</form>