<p>Name - {{customer.first_name}}</p>
<p>Email - {{ customer.email }}</p>

      <h4>Order History</h4>
      {% if orderQS %}
      <table class="table-dark cart-table" >
        <thead>
        <tr>
          <th>#</th>
          <th>Order Items</th>
          <th>Price</th>
          <th>States</th>

        </tr>
        </thead>
        <tbody>
        {% for order in orderQS %}
        <tr>
            <th><p>{{ forloop.counter}}</p></th>
          <!--<th>{{ order.order_id}}</th>-->
          <th>
            {% for j in order.cart.jewelries.all %}
            {{ j.category.jtype }}
            {% endfor %}
          </th>
          <th>{{ order.total}}</th>
          <th>{{ order.status}}
          </th>


        </tr>
        {% endfor %}
        </tbody>

      </table>
      {% else %}
      <p>You haven't placed any orders yet.</p>
      {% endif %}


